Builds
assetstore
tools
.vs
.suo

backend/node_modules
Library
Logs
obj
Temp

*.sln
*.csproj
*.suo
*.csv#
.vsconfig
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
ProjectSettings/ProjectVersion.txt
UserSettings/EditorUserSettings.asset
ProjectSettings/ProjectSettings.asset
*.blob
UserSettings/Search.settings
*.dwlt